<h1>Cart</h1>
 <h3>All Items</h3>
    <div class="row">
      {{# each items }}
        <ul>
          <li><h4>{{ this.product.name }}</h4></li>
          <li><img {{ bind-attr src=this.product.avatar }} class='thumbnail'></li>
        </ul>
    {{/ each}}

